
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
    display: flex;
    flex: 1;
    align-items: stretch; 
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2em;
}

.add-item {
  width: 40vw;
  background: linear-gradient( #ea804c);
  padding: 1em;
  color: #fff0df;
}

.item-table {
  width: 50vw;
}

.add-item form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  justify-content: flex-start;
  height: 100%;
  align-items: center;
}

#itemDuration {
  width: 4em;
}

input {
  background-color: #fff0df;
  color: #242323;
  border:none;
  padding: 4px;
  padding: 0.6em 0.7em;
  border-radius: 6px;
  font-size: 1rem;  
  border: 2px solid #532b16;
}

input:focus {
  outline: none;
}

.name-and-time {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3em; 
}

.name-and-time input {
  margin: 0 auto;
}

.name-and-time > div {
  display: flex;
  flex-direction: column;
  gap: 0.3em; 
}

.item-type-radio input[type="radio"] {
  display: none;
}

.item-type-radio fieldset {
  border: none;
  display: flex;
  gap: 1em;
  justify-content: center;
}

.item-type-radio .selection {
  padding: 0.5em 1em;
  border-radius: 9px;
  border: 2px solid #532b16;

  background-color: #587e7d;
  color: #fff0df;

  cursor: pointer;
  user-select: none;
}

.item-type-radio input[type="radio"]:checked + .selection {
  background-color: #324645; 
}

.item-type-radio .selection:hover {
    background-color: #526564;
}

.add-button {
  padding: 0.7em 2em;
  font-size: 1rem;
  border-radius: 9px;

  background-color: #70c77a;
  color: #ffffff;

  border: 2px solid #87ef93;
  cursor: pointer;
}

.add-button:hover {
  background-color: #afd59c;
}

.add-button:active {
  background-color: #e4eee2;
}

.item-type-radio legend {
  text-align: center;
  width: 100%;
}

