
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
    display: flex;
    flex: 1;
    align-items: stretch; 
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2em;
}

.add-item {
  width: 40vw;
  background-color: #b55d31;
  padding: 1em;
}

.item-table {
  width: 50vw;
}

.add-item form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  justify-content: flex-start;
  height: 100%;
  align-items: center;
}

#itemDuration {
  width: 4em;
}

input {
  background-color: #3c3b3b;
  color: #ffffff;
  border:none;
  padding: 4px;
  padding: 0.6em 0.7em;
  border-radius: 6px;
  font-size: 1rem;  
}

input:focus {
  outline: none;
}

.name-and-time {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3em; 
}

.name-and-time input {
  margin: 0 auto;
}

.name-and-time > div {
  display: flex;
  flex-direction: column;
  gap: 0.3em; 
}

.item-type-radio input[type="radio"] {
  display: none;
}

.item-type-radio fieldset {
  border: none;
  display: flex;
  gap: 1em;
  justify-content: center;
}

.item-type-radio .selection {
  padding: 0.5em 1em;
  border-radius: 9px;
  border: 2px solid #532b16;

  background-color: #789e67;
  color: #fff0df;

  cursor: pointer;
  user-select: none;
}

.item-type-radio input[type="radio"]:checked + .selection {
  background-color: #4c6341; 
}

.add-button {
  padding: 0.7em 2em;
  font-size: 1rem;
  border-radius: 9px;

  background-color: #9ecc89;
  color: #000;

  border: none;
  cursor: pointer;
}

.add-button:hover {
  background-color: #6a8c59;
}

.add-button:active {
  background-color: #8a512d;
}

.item-type-radio legend {
  text-align: center;
  width: 100%;
}

