
* {
  font-family: sans-serif;
}

body {
  background-color: #1d1c1c;
  color: white;
}

.app-header {
  background: #2f60b7;
}


.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff0df;
    padding: 1em;
    max-width: 1200px;

}


.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff0df;
}

