
* {
  box-sizing: border-box;
}

body {
  margin: 0; 
  display: flex;
  flex-direction: column;
  background-color: #f7f1e8;
  background: linear-gradient(#ffffff, #fff0df);
  color: rgb(22, 22, 22);
  font-family: 'Archivo Black', sans-serif;
}

html,
body {
  height: 100%;
}


.app-header {
  background: linear-gradient(to right, #3777e6, #2f60b7);
}


.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff0df;
    padding: 1em;
    max-height: 70px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

header h1 {
    font-size: 2em;
    font-weight: 900;
    font-style: italic;
    text-shadow: 0 4px 0px #b55d31;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff0df;
}

main {
  flex: 1;
}

footer {
  background-color: #d7cbbd;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;


  text-align: right;
  padding: 1rem 2rem;

  font-size: 0.85rem;

  display: flex;
  align-items: center;

  gap: 1rem;

  border-top: 1px solid #efe8e0;
}

footer a {
  color: #6495e4;
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #ff8b52;
}

a:active {
    color: black;
}

.slot {
    height: 1em
}