
* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0; 
  display: flex;
  flex-direction: column;
  background-color: #1d1c1c;
  color: white;
}

html,
body {
  height: 100%;
}


.app-header {
  background: #2f60b7;
}


.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff0df;
    padding: 1em;
    /* max-width: 1200px; */
    max-height: 100px;
}

header h1 {
    font-size: 2em;
    font-style: italic;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff0df;
}

main {
  flex: 1;
}

footer {
  flex: 0 50px;
  background: #a2a0a2;  
  color: black;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

