
* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0; 
  display: flex;
  flex-direction: column;
  background-color: #23201f;
  color: white;
}

html,
body {
  height: 100%;
}


.app-header {
  background: #2f60b7;
}


.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff0df;
    padding: 1em;
    max-height: 70px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

header h1 {
    font-size: 2em;
    font-style: italic;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff0df;
}

main {
  flex: 1;
}

footer {
  background-color: #1e1b1a;
  color: #afadad;

  text-align: right;
  padding: 1rem 2rem;

  font-size: 0.85rem;

  display: flex;
  align-items: center;

  gap: 1rem;

  border-top: 1px solid #887d723b;
}

footer a {
  color: #8ab4f8;
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #b55d31;
}

a:active {
    color: black;
}

.slot {
    height: 1em
}