
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.items-container {
    display: flex;
    flex: 1;
    align-items: stretch; 
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2em;
}

.add-item {
  width: 40vw;
  background: linear-gradient( #719b9a, #587e7d);
  padding: 1em;
  color: #fff0df;
  border-right: 2px solid #ea814cf9;
  font-weight: 600;
}

.add-item h2 {
    text-shadow: 0 2px 1px #154e4c;
    font-weight: 700;
}

.item-table h2 {
    font-weight: 700;
}

.item-table {
  width: 50vw;
  padding: 1em;

}

.add-item form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  justify-content: flex-start;
  height: 100%;
  align-items: center;
}

#itemDuration {
  width: 4em;
}

.items-input {
  background-color: #fff0df;
  color: #242323;
  border:none;
  padding: 0.6em 0.7em;
  border-radius: 6px;
  font-size: 1rem;  
  border: 2px solid #bedbda;
}

.items-input:focus {
  outline: none;
}

.name-and-time {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3em; 
}

.name-and-time input {
  margin: 0 auto;
}

.name-and-time > div {
  display: flex;
  flex-direction: column;
  gap: 0.3em; 
}

.item-type-radio input[type="radio"] {
  display: none;
}

.item-type-radio fieldset {
  border: none;
  display: flex;
  gap: 1em;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.item-type-radio .selection {
  padding: 0.5em 1em;
  border-radius: 9px;
  border: 2px solid #519e9c;

  background-color: #81acab;
  color: #fff0df;

  cursor: pointer;
  user-select: none;
}

.item-type-radio input[type="radio"]:checked + .selection {
  background-color: #154e4c; 
}

.item-type-radio .selection:hover {
    background-color: #498a88;
}

.add-item-button {
  padding: 0.7em 2em;
  font-size: 1rem;
  border-radius: 9px;
  font-family: 'Archivo Black', sans-serif;


  background-color: #ff8b52;
  color: #ffffff;

  border: 2px solid #fd9b6a;
  cursor: pointer;
}

.add-item-button:hover {
  background-color: #da703b;
}

.add-item-button:active {
  background-color: #c16435;
}

.item-type-radio legend {
  text-align: center;
  width: 100%;
}

/* TABLE */

.item-table table {
  border-collapse: separate;
  border-spacing: 0 0.6em;
  width: 100%;
  font-family: "Montserrat", sans-serif;

}

.item-table th,
.item-table td {
  border: none;
}

.item-table tbody td {
  padding: 1em 1.2em;
  border-top: 3px solid #ceeebf;
  border-bottom: 3px solid #ceeebf;
  background-color: #70c77a;
  color: #ffffff;
}

.item-table tbody tr td:first-child {
  border-radius: 20px 0 0 20px;
  border-left: 3px solid #ceeebf;
}

.item-table tbody tr td:last-child {
  border-radius: 0 20px 20px 0;
  border-right: 3px solid #ceeebf;
}

.item-table button {
  background-color: #b54731;
  color: #ffffff;

  border: none;
  border-radius: 999px;

  padding: 0.4em 0.9em;
  font-size: 0.85rem;

  cursor: pointer;
}

.item-table button:hover {
  background-color: #e21b1b;
}

.item-table button:active {
  background-color: #ff0000;
}