.plan-container {
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 1em;
}

/* schedule column */

.schedule {
    width: 40vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.outside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.weather {
  display: inline-flex;
  align-items: center;

  padding: 0.4rem 0.75rem;
  border-radius: 100px;

  background: #ea804c;
  border: 1px solid #909090f6;
  color: white;

  font-size: 0.8rem;
}

.times,
.graph {
  display: flex;
  flex-direction: column;
}

.times {
  width: 70px;
  flex-shrink: 0;
}

.graph {
  flex: 1;
}

.day-grid{
    display: flex;
    flex:1;
}

.time,
.slot {
    flex: 1;
    display: flex;
    align-items: center;
}

.slot {
    height: 1em;
    border: 1px solid rgb(187, 189, 192);
}

/* item list columns */

.lists {
    width: 20vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
  margin-top: 0.8rem;
}

.item-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  position: relative;
  height: 10vh;
  border: 3px solid #ceeebf;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background: #70c77a;
  border-radius: 9px;
  font-family: "Montserrat", sans-serif;
}

#shopping,
#gym {
    height: 15vh
}

#assignment {
    height: 30vh
}

#class {
    height: 20vh
}


.item-name {
  color: #f9f4ee;
  font-style: italic;
  font-weight: 400;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.item-duration {
  color: #ffffff90;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 0.85rem;
  opacity: 0.8;
}

.item:hover {
    background-color: #86e992;
}


.plan-add-button {
  height: 1.3em;
  width: 1.3em;
  border-radius: 50%;
  border: 2px solid #c36836;
  font-family: "Montserrat", sans-serif;

  background-color: #ea804c;
  color: #fff0df; 
  font-size: 1rem;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}

.plan-add-button:hover {
  background-color: #a34d1e;
}

.plan-add-button:active {
  background-color: #000000;
  transform: scale(0.95);
}
